@charset "UTF-8";
/* common.css */

/* @import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: normal;
  font-size: 15px;
  box-sizing: border-box;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #222;
}

.container {
  width: 1280px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.base-b2c{
  overflow: hidden;
}

.mb{
  display: none;
}

/* 미디어쿼리 768 */
@media only screen and (max-width:768px){
  .base-b2c{
    position: relative;
  }

  .container{
    padding: 0 16px;
  }

  .dt{
    display: none;
  }

  .mb{
    display: inline-block;
  }
}
